.content-container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  min-height: 87vh;
  min-width: 90vw;
  max-height: 87vh;
  max-width: 90vw;
  background-color: white;
  margin: 5px 0px 5px 0px;
  flex-direction: column;
  overflow: auto;
}
